body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.table-one {
  width: 600px;
  height: auto;
  padding: 20px;
}

.input-form {
  color: white;
  text-align: center;
  width: 600px;
  padding: 10px;
}

button {
  background-color: rgb(101, 67, 33);
  color: white;
  padding: 5px;
}

select {
  padding: 10px;
  background: rgb(101, 67, 33);
  color: white;
  border: 1px solid gray;
  border-radius: 12px;
  margin-right: 2%;
  outline: none;
}

.btn2 {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 10px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.btn3 {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 10px;
  width: 120px;
  outline: none;
  cursor: pointer;
}

input {
  padding: 7px;
  margin-right: 3%;
}

.trow {
  padding: 5px;
}

.erow {
  background: rgb(101, 67, 33);
  color: white;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(173, 171, 171);  
}