body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-one{
  width: 600px;
  height: 300px;
  padding: 20px;
}

.input-form {
  color: white;
  text-align: center;
  width: 600px;
  padding: 10px;
}

button {
  background-color: brown;
  color: white;
  padding: 5px;
}